<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MySql.Data" version="8.0.31" targetFramework="net471" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
</packages>